# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

#Admin
/.admin
/admin
# testing
/coverage

# next.js
/.next
/out

# environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE files
/.idea
/.vscode

/rough.js
*.zip
AI_RADS_MODULE.md
DEPLOYMENT_FILES_NEW_SPOTTERS.md
FILE_UPLOAD_STRUCTURE.md
FIX_404_ERRORS.md
NEW_OSCE_503_ERROR_FIX.md
NEW_OSCE_FILE_LIST.md
NEW_OSCE_IMPLEMENTATION_SUMMARY.md
NEW_OSCE_MODULE_DEPLOYMENT.md
NEW_SPOTTERS_IMPLEMENTATION_SUMMARY.md
NEW_SPOTTERS_MODULE_REFERENCE.md
PRACTICAL_ESSENTIALS_COMPLETE.md
PRACTICAL_ESSENTIALS_MODULE.md
PREMIUM_FEATURE_DEPLOYMENT.md
QUICK_START_NEW_OSCE.md
RUN_NEW_MIGRATIONS_ONLY.md
UPLOAD_CHECKLIST.md
NEW_SPOTTERS_TESTING_GUIDE.md
NEW_SPOTTERS_QUICK_START.md
NEW_SPOTTERS_FIX_SUMMARY.md
