# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/vendor

#Admin
admin/.vendor
admin/vendor
admin/application/vendor
admin/application/storage/logs/*.log
admin/application/bootstrap/cache/*.php

# Frontend
frontend/vendor
frontend/storage/cache/*

# testing
/coverage

# next.js
/.next
/out

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE files
/.idea
/.vscode

/rough.js
*.zip
composer.lock
